{% extends 'layout.html' %} {% block body %}
<style>
    .spinner {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        margin: 100px auto;
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
</style>
<div style="text-align: center">
   <div class="spinner"></div>
   <h3>A pop-up has appeared on your phone. We are processing your payment.....</h3>
   <p id="status-message"></p>
</div>
<script>
    const transactionId = "{{ transaction_id }}";
    const NGROK_URL = "https://1205-105-160-89-10.ngrok-free.app"

      let checkStatusInterval = setInterval(function () {
        console.log("Checking transaction status...");
        fetch(`${NGROK_URL}/check-status/${transactionId}`)
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "Success") {
              clearInterval(checkStatusInterval);
              window.location.href = "/payment-success/";
            } else if (data.status === "Failed") {
              clearInterval(checkStatusInterval);
              window.location.href = "/payment-failed/";
            } else if (data.status === "Cancelled") {
              clearInterval(checkStatusInterval);
              window.location.href = "/payment-cancelled/";
            }
          })
          .catch((error) => {
            console.error("Error checking transaction status:", error);
          });
      }, 10000);

</script>



{% endblock %}